<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=k, initial-scale=1.0" />
    <title>Film Fanatics</title>
  </head>
  <body>
    <h1>Welcome to Film Fanatics</h1>
    <hr />
    <% moviesDB.forEach(movie => { %>
    <h2><%=movie.movieName%></h2>
    <img width="370px" src="<%=movie.coverUrl%>" alt="" />
    <p>Release Year: <%=movie.releaseYear%></p>
    <p>Director: <%=movie.director%></p>
    <p>Genre: <%=movie.genre%></p>
    <p>Description: <%=movie.description%></p>
    <a href="/movies/<%= movie._id%>">See more</a>
    <hr />
    <%})%>
  </body>
</html>
