<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Film Fanatics</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="public/main.css" />
  </head>
  <body class="text-center bg-teal-200 min-h-screen">
    <%- include('../partials/nav') %>

    <h1 class="text-3xl md:text-4xl font-bold m-4">FILM FANATICS</h1>
    <hr class="border-gray-400 mx-4" />

    <div class="container mx-auto p-4">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
      >
        <% movies.forEach(movie => { %>
        <div
          class="w-full max-w-sm mx-auto bg-white font-semibold border border-gray-300 rounded-xl p-4 shadow-md transition-transform duration-300 hover:scale-105 hover:shadow-lg"
        >
          <h2 class="text-lg md:text-xl font-semibold mb-2">
            <%= movie.movieName %>
          </h2>
          <img
            class="w-full h-60 object-cover rounded-xl mb-3 shadow-sm"
            src="<%= movie.coverPhotoUrl %>"
            alt="<%= movie.movieName %>"
          />
          <p class="text-sm md:text-base">
            <span class="font-bold">Release Year:</span> <%= movie.releaseYear
            %>
          </p>
          <p class="text-sm md:text-base">
            <span class="font-bold">Director:</span> <%= movie.director %>
          </p>
          <p class="text-sm md:text-base">
            <span class="font-bold">Genre:</span> <%= movie.genre %>
          </p>
          <p class="text-sm md:text-base mb-3">
            <span class="font-bold">Description:</span> <%= movie.description %>
          </p>
          <a
            class="text-blue-600 underline hover:text-blue-800 transition"
            href="/movies/<%= movie._id %>"
            >See more</a
          >
          <hr class="my-3 border-gray-300" />
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
