<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=k, initial-scale=1.0" />
    <title>Film Fanatics</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="public/main.css" />
  </head>
  <body>
    <div class="bg-red-200 bg-auto min-h-screen justify-center">
      <%- include('../partials/nav') %>
      <h1 class="text-center text-4xl underline">Film Fanatics</h1>
      <hr />
      <% movies.forEach(movie => { %>
      <h2 class="text-black animate-pulse p-3 text-2xl">
        <%=movie.movieName%>
      </h2>
      <img
        class="w-65 h-65 md:h-48 lg:h-50 object cover flex-wrap"
        src="<%=movie.coverPhotoUrl%>"
        alt=""
      />
      <p class="p-2 text-purple-600">Release Year: <%=movie.releaseYear%></p>
      <p class="text-purple-600 p-2">Director: <%=movie.director%></p>
      <p class="text-purple-600 p-2">Genre: <%=movie.genre%></p>
      <p class="text-purple-600 font-serif p-2 font-medium">
        Description: <%=movie.description%>
      </p>
      <a href="/movies/<%= movie._id%>">See more</a>
      <hr />
      <%})%>
    </div>
  </body>
</html>
