<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Movie Reviewer Page</h1>
    <section>
      <h2>Movie Name:<%= movie.movieName %></h2>
      <h2>Genre:<%= movie.genre %></h2>
      <h2>Description: <%= movie.description %></h2>
      <h2>Movie Poster:<img src="<%= movie.coverPhotoUrl %>" alt="" /></h2>
      <% if (movie.stillinTheaters) { %>
      <p>This movie is still in theaters</p>
      <% } else { %>
      <p>This movie is no longer in theaters</p>
      <% } %>
      
      <hr>

      <a href="/movies/review/<%=movie._id%>">Add a review for this movie</a>
    </section>
  </body>
</html>
